<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhiguang.nauy.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="zhiguang.nauy.user.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="passwordHash" column="password_hash" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="bio" column="bio" jdbcType="VARCHAR"/>
            <result property="zgId" column="zg_id" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="school" column="school" jdbcType="VARCHAR"/>
            <result property="tagsJson" column="tags_json" jdbcType="OTHER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,phone,email,
        password_hash,nickname,avatar,
        bio,zg_id,gender,
        birthday,school,tags_json,
        created_at,updated_at
    </sql>
</mapper>
